<main class="main">

    {{#with data.purchase}}
    <form method="POST" action="/purchase-submit?id={{id}}" class="form-card">
        {{> heading title='Інформація про замовлення'}}

        <div>ID: {{id}}</div>

        {{> divider}}




        <strong class="form-card__total">
            Всього: {{totalPrice}} грн ({{bonus}} грн бонусів)
        </strong>

        {{> button text='Оформити замовлення'}}

    </form>
    {{/with}}


</main>