<main>
	<section>
		<div class="header-list">
			<h1 class="list-title">Списов товарів</h1>
			<a href="/product-create" class="add-product-button">Додати товар</a>
		</div>
		<div class="container">
			{{> product-card}}
		</div>
	</section>
</main>